
@font-face {
    font-family: source;
    src: url(./fonts/Source_Code_Pro/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: rubik;
    src: url(./fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);
}
@font-face {
  font-family: Revuelo;
  src: url(./fonts/HussarEkologiczne1.otf);
}

body{
    background-color: #ffffff;
}

.border {
    width: 100%;
    height: 1900px;
    /* background-color: #050505; */
    /* background-image: linear-gradient(160deg, #050505 0%, #19eedd 100%); */
    display: grid;
    place-items: center;
    border-radius: 6px;
}

.content {
    position: absolute;
    width: 97%;
    height: 75vh;
    background: #fff;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 1.3%;
    justify-content: center;
    align-items: center;
    margin-left: 1.3%;
}
.header {
    margin-left: 4vw;
    width: 90vw;
    height: 25vh;
    justify-content: space-between;
    display: flex;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
}


.logo img {
    width: 30%;
    padding-top: 8%;
}
.logo {
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.7));
}

  ul {
    list-style: none;
  }

  .menu a {
    color: #373a40;
    text-decoration: none;
    font-family: Source;
    font-size: 1.3rem;
  }

  body {
    margin: 30px 0;
  }


  .menu {
    display: flex;
    justify-content: center;
  }

  .menu li {
    margin-right: 70px;
  }

  .menu a {
    position: relative;
    display: block;
    padding: 5px;
  }

  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #19d3da;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .menu a:hover::before {
    transform: scaleX(1);
  }
  .menu[data-animation="center"] a::before {
    transform-origin: center;
  }

.main{
    width: 90vw;
    height: 70vh;
    /* background-color:#fff; */
    margin-left: 4vw;
    z-index: -5;
}

.descripcion {
    align-items: center;
    height: 80vh;
}
.title {

  justify-content: center;
  font-family: Revuelo;
  font-size: 5em;
  color:#19d3da;
  padding-left: 10%; 
  
}

.parrafo {
    font-family: source;
    font-weight: 400;
    font-size: 1.3em;
    width: 60vw;
    padding-left: 20%;
    margin-top: -2%;
    z-index: 50;
}

/* -------------------------------------------------------------------------- */
/*                               MEDIA QUIERIES                               */
/* -------------------------------------------------------------------------- */
@media (max-width:1700px) {
  .galeria .galeria img{
    flex: 50%;
    flex-direction: column;
  }
}
@media (max-width:800px) {
  .trabajos {
    flex: 100%;
    }
  .galeria a{ 
    flex-direction: column;
    flex-wrap: wrap;
  }  
  }
  @media (max-width: 400px) {
.developer a{
    font-size: 2rem;
    color: red;
  }
  .servicios-container{
    width: 90%;
    flex-direction: column;
  }
  }

  @media (max-width: 600px) {
    .title-hacemos{
      font-size: 1rem;
      color: peru;
    }
  }
/* -------------------------------------------------------------------------- */
/*                                  Servicios                                 */
/* -------------------------------------------------------------------------- */
.hacemos {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  height: 70vh;
  /* position: relative; */
  background: #ffff;
  background-color: rgba(200, 200, 200, 0.5);
}
.hacemos {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #cccccc, -20px -20px 60px #ffffff;
}

.title-hacemos{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2%;
  font-family: Source;
  font-size: 5rem;
  color:white;
  text-shadow: #373a40 2px 5px;
}

.p-hacemos{
  justify-content: center;
  text-align: center;
  font-family: Source;
  font-size: 2rem;
  color: #373a40;
}

.servicios-container{
  width: 100%;
  display: flex;
}
.servicios-container div{
  justify-content: space-around;
  padding: 2%;
  margin-top: 1%;
  align-items: center;
  text-align: center;
}

#ico {
  font-size: 4rem;
  color:#19d3da;
}

.servicios h2 {
  color: whitesmoke;
  text-shadow: #373a40 2px 3px 5px;
}
.description {
  color: #373a40;
  font-family: Source;
  font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                  Trabajos                                  */
/* -------------------------------------------------------------------------- */
.contenedor-galeria {
  width: 100%;
  flex-wrap: wrap;
}
.work {
  /* padding: 15 5 10 10; */
  justify-content: center;
  font-family: Source;
  font-size: 5rem;
  color:#686d76;
  text-shadow: #eeeeee 2px 5px;
  /* padding-left: 40%; */
  text-align: center;
}

* {
  box-sizing: border-box;
}
body{ 
  margin: 0%;
  padding: 0%;
}
.img {
  width: 30%;
  margin: 1%;
  flex-wrap: wrap;
}

.trabajos{
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: space-around;
  width: 100%;
  gap: 10%;
}

.galeria{
  display: flex;
  pad: 5%;
  width: 100%;
}

.galeria img{
  width: 90%;
  justify-content: space-around;
}
/* -------------------------------------------------------------------------- */
/*                                 Testimonios                                */
/* -------------------------------------------------------------------------- */
.testimonios {
  width: 100%;
  height: 50vh;
  border-radius: 50px;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 20px 20px 60px #cccccc, -20px -20px 60px #ffffff;
}

.title-clientes {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2%;
  font-family: Source;
  font-size: 5rem;
  color:white;
  text-shadow: #373a40 2px 5px;
}

.clientes {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.cliente {
  width: 90%;
  height: 15vh;
  background: #eeeeee;
  margin: 3%;
  
}

#id {
  font-size: 2rem;
  color:#19d3da;
}

.cliente h2 {
  
color: whitesmoke;
text-shadow: #373a40 2px 3px 5px;
}
.coment {
  color: #373a40;
  font-family: Source;
  font-size: 1rem;
  margin-top: -10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* .user span {
  color: whitesmoke;
text-shadow: #373a40 2px 3px 5px;
} */